* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.big-centered-dropdown, .center-buttons, #mocked-data-checkbox, #mocked-data-count {
  margin-bottom: 10px;
}

.large-button {
  background-color: #434543; /* Green */
  border: 1px solid #434543;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 500px;
  transition: background-color 0.3s ease;
}

.large-button:hover {
  opacity: 0.8;
}

#mocked-data-count {
  width: 70px;
}

#advanced-options {
    display: none;
    margin-top: 20px;
}

.toggle-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
